.page-header {
	border-bottom-color: #36C6C3;
	border-bottom-width: 2px;
}
h1 {
	font-size: 42px;
}
h2 {
	font-size: 35px;
}
body {
	font-family: Meiryo, sans-serif;
	font-size: 21px;
}
.sushirestaurant {
	width: 300px;
	/*height: 30px;*/
	overflow: hidden;
	/*position: relative;*/
	/*display:block;*/
}
.itamae {
	width: 375px;
	/*height: 30px;*/
	/*overflow: hidden;*/
	/*position: relative;*/
	/*left: 0px;*/
	animation-name: moveSushi;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-direction: normal;
	animation-iteration-count: infinite;
}
.itamae div {
	width: 75px;
	/*height: 30px;*/
	display: block;
	float: left;
}
@keyframes moveSushi {
	to {
		transform: translateX(-75px);
	}
}
