.page-header {
	border-bottom-color: #36C6C3;
	border-bottom-width: 2px;
}
h1 {
	font-size: 42px;
}
h2 {
	font-size: 39px;
}
h3 {
	font-size: 30px;
}
h4 {
	font-size: 23px;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
	margin-top: 40px;
	margin-bottom: 10px;
}
body {
	font-family: Meiryo, sans-serif;
	font-size: 18px;
}
ul {
	font-size: 18px;
}
dd {
	margin-left: 18px;
	margin-bottom: 9px;
}
footer {
	padding-top: 20px;
	border-top-style: solid;
	border-top-color: #36C6C3;
	border-top-width: 2px;
}
.container {
	background-image: url("../apple-touch-icon.png");
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: right 20px bottom 100px;
}
.backgroundImageTransparent{
	background-color: rgba(255, 255, 255, 0.7);
}
.sushirestaurant {
	width: 300px;
	/*height: 30px;*/
	overflow: hidden;
	/*position: relative;*/
	/*display:block;*/
}
.itamae {
	width: 375px;
	/*height: 30px;*/
	/*overflow: hidden;*/
	/*position: relative;*/
	/*left: 0px;*/
	animation-name: moveSushi;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-direction: normal;
	animation-iteration-count: infinite;
}
.itamae div {
	width: 75px;
	/*height: 30px;*/
	display: block;
	float: left;
}
@keyframes moveSushi {
	to {
		transform: translateX(-75px);
	}
}
img.emoji {
	height: 1em;
	width: 1em;
	margin: 0 .05em 0 .1em;
	vertical-align: -0.12em;
}
h1 img.emoji {
	margin-left: 9px;
	margin-right: 9px;
}
